.mode-container {
  background-color: #b51963;
  color: white;
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  min-width: 75vw;
  padding: 5rem;
  max-width: 1000px;
  border-radius: 5%;
  margin: auto;
  /* margin-bottom: 20rem; */
  border: 3px solid #73ad21;
}
